* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;

}


header {
    height: 43rem;
    align-content: center;
    background-color: #333;
    background: url(/assets/bg-home-bookstore1.jpg) no-repeat center fixed;
    background-size: cover;
    text-align: center;
    color: aliceblue;
    font-size: 3rem;

}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 15;
    background-color: white;
    overflow: hidden;

    a {
        display: flex;
        float: right;
        padding: 1rem;
        color: #2f4f4f;
        text-decoration: none;
        font-size: 1rem;
    }
}

.navbar a:hover {
    color: #ff4500;
}

.active {
    color: orangered;
    border-bottom: solid 5px orangered;
}

.navbar .logo {
    width: 3rem;
    height: 3rem;
    float: left;
    background: url('/assets/icons/book.png') no-repeat center;
    background-size: cover;
}

.navbar .logo:hover {
    background: url('/assets/icons/book2.png') no-repeat center;
    background-size: cover;
}

/* Style the content */
.content {
    display: block;
    width: 80%;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.btn-a {
    border-radius: 2px;
    color: #333;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 0.7rem;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.btn-a:hover {
    box-shadow: 0 0.8rem 1rem 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    border-bottom: solid 4px orangered;

}

.btn-b {
    border-radius: 5px;
    background-color: white;
    color: #333;
    border: solid 1px #333;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 0.8rem;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.btn-b:hover {
    box-shadow: 0 0.8rem 1rem 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    border-bottom: solid 4px orangered;

}

/* Esto es un largo comentario porqeu podremos aqui el proeycto completo de imagene4s de la portada main / index / home / landing */
/* Grid Container Gallery */
.gridcontainer {
    display: grid;
    /*    border: solid 1px red; */
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 25rem;
    gap: 3rem;
    grid-auto-flow: dense;
    padding: 1rem;

    .galleryitem .image {
        /*        border: solid red 1px; */
        background-color: antiquewhite;
        width: 100%;
        height: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: relative;
        overflow: hidden;
        border-radius: 0.3rem;
    }

    .galleryitem img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        transition: .5s ease-in-out;
    }

    .galleryitem:hover img {
        transform: scale(1.5);
    }
}


/* Style the footer */
.footer-wrap {
    height: 46rem;
    background-color: darkslategrey;
    /* display: block; */
    font-size: 1rem;
    color: beige;
    padding: 3rem;
}


.col-1 {
    float: left;
    width: 33%;
    padding: 1rem;
}

.col-2 {
    float: left;
    width: 33%;
    padding: 1rem;
}

.col-3 {
    float: left;
    width: 33%;
    padding: 1rem;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 600px) {
    .gridcontainer {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 25rem;
    }

    .content {
        /* display: block; */
        width: 75%;
    }

    .btn-a {
        display: none;
    }

    .col-1,
    .col-2,
    .col-3 {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    .gridcontainer {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 20rem;
    }

    .content {
        /* display: block; */
        width: 80%;

    }
    .btn-a {
        display: none;
    }

    .col-1,
    .col-2,
    .col-3 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .gridcontainer {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 19rem;
    }

    .content {
        width: 80%;
    }

    .col-1,
    .col-2,
    .col-3 {
        width: 33%;
    }
}

@media only screen and (min-width: 992px) {
    .gridcontainer {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 18rem;
    }
    .btn-a {
        display: inline-flex;
    }
    .col-1,
    .col-2,
    .col-3 {
        width: 33%;
    }
}

@media only screen and (min-width: 1200px) {
    .gridcontainer {
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 25rem;
    }

    .col-1,
    .col-2,
    .col-3 {
        width: 33%;
    }
}
  